[Desktop Entry]
Name=AORUS Game Start

X-KDE-PluginInfo-Name=aorus-gamestart
X-KDE-PluginInfo-Author=AORUS
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=CC-BY-SA-4.0
