[Desktop Entry]
Name=AORUS Logo

X-KDE-PluginInfo-Name=aorus-logo
X-KDE-PluginInfo-Author=AORUS
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=CC-BY-SA-4.0
